
                <%- include('./partials/header') %>
                <main>
                    <h2>Welcome to Workout Tracker</h2>
                    <a href="/workouts">View Workouts</a>
                </main>
                <%- include('./partials/footer') %>
            